

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.overlay-layer
{
	box-shadow: 2px 2px 2px grey;
	background-color: white;
	position: absolute;
	z-index: 10;
}
